table {
    border: 1px solid black;
    border-collapse: collapse;
}


/* table row and cel has collapsed black borders*/

td,
th {
    border: 1px solid black;
    padding: 5px;
}


/* form show inputs on different lines */

form {
    display: flex;
    flex-direction: column;
}

fieldset {
    width: 500px;
}